<form class="vtm-custom sheet actor coterie" autocomplete="off">

  {{!-- Header --}}
  <header class="sheet-header">
    <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}" />
    <div class="header-fields">
      <h1 class="charname">
        <input name="name" type="text" value="{{actor.name}}" placeholder="Coterie Name" />
      </h1>
    </div>
    <div class="header-tags">
      {{#if system.coterieType}}<span class="header-tag tag-clan">{{system.coterieType}}</span>{{/if}}
    </div>
  </header>

  {{!-- Tabs --}}
  <nav class="sheet-tabs" data-group="primary">
    <a class="item" data-tab="domain">Domain</a>
    <a class="item" data-tab="members">Members</a>
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="relationships">Relationships</a>
    <a class="item" data-tab="notes">Notes</a>
  </nav>

  <section class="sheet-body">
    {{> "systems/vtm-custom/templates/actor/coterie-partials/_tab-domain.hbs"}}
    {{> "systems/vtm-custom/templates/actor/coterie-partials/_tab-members.hbs"}}
    {{> "systems/vtm-custom/templates/actor/coterie-partials/_tab-traits.hbs"}}
    {{> "systems/vtm-custom/templates/actor/coterie-partials/_tab-relationships.hbs"}}
    {{> "systems/vtm-custom/templates/actor/coterie-partials/_tab-notes.hbs"}}
  </section>
</form>
