<form>
  <div class="form-group"><label>Name</label><input type="text" name="name" autofocus /></div>
  <div class="form-group">
    <label>Type</label>
    <select name="type">
      <option value="ally">Ally</option>
      <option value="enemy">Enemy</option>
      <option value="contact">Contact</option>
    </select>
  </div>
  <div class="form-group"><label>Rating</label><input type="number" name="rating" value="1" min="0" max="5" /></div>
  <div class="form-group"><label>Description</label><textarea name="desc" rows="2"></textarea></div>
</form>
